.section-galeri{
    padding: 20px;
}
.section-galeri h1{
   
    font-family: 'Times New Roman', serif;
    text-align: center;
    padding: 50px;
    color: #003153;
 
}
.section-galeri p{
    font-family: 'Times New Roman', serif;
}

